.txt{
    position: relative;
    top: 250px;
}
.card{
    position: relative;
    width:50%;
    height: auto;
    left: 26%;
    justify-content: center;
}
.form2{
    position: relative;
    width: 200%;
}
.list{
    position: relative;
    top: -100px;
}